node_modules/
.expo/
.firebase/
.expo-export-test/
.expo-server*.log
.expo-*.log
.expo-*-export-test/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/
build/
*Api key*.docx
~$*.docx
*.key
*.pem
*.p12
